.form_wrapper{
    color: red;
    padding: 50px;
    // border: 1px solid rgb(104, 104, 104);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    .title{
        text-align: center;
    }
    .username{
        border: 1px solid #000;
    }
}